span.looking {
    font-size: 2.5rem;
    font-family: 'Monoton', sans-serif;
    color: #ff8686;   
    padding-left: 0;
    /*margin-left: 0;*/
    margin-top: 4em;
}

.display {
    letter-spacing: 2px;
    font-size: 45px;
    line-height: 70px;
    padding-left: 0;
}

.navbar-brand {
    margin-left: 0;
}

/*body, body, header, #view {
    height: 100%;
}*/

body {  
    background-color: #ffffff;
}

#portfolio {
    margin-left: 30;
    margin-right: 30;
    margin-bottom: 30;
}

.navbar:not(.top-nav-collapse) {
    /*background: transparent;*/
    background-color: white;
    margin-left: 15;
    margin-right: 15;
    height: 45px;
    padding-top: 25;
    padding-bottom: 20;
}

body h1, h2, h3, h4 {
    font-family: sans-serif;
}

.main-content {
    margin-top: 50%;
    /*margin-left: 10%;*/
    margin-right: 10%;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 40px;
    padding-bottom: 100px;
    margin-top: 30px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    height: 10px;
}
 
.jumbo {
    width: 50%
}

ul li a {
    list-style-type: none;
  }


.jumbotron {
    height: 50em;
    padding: 15em;
    padding-left: 0;
    background-size: 100% 100%;
    margin-right: 30;
    margin-left: 30;
    background-color: #fafafa;
}

.lead {
    font-size: 2rem;
}

h1 {
    font-family: sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bolder;
    color: black;
}

.text-align-center {
    text-align: left;
}

.img-fluid, .mask {
    /*height: 220px;*/
    width: 100%;
    max-height: 156px;
}

.mask {
height: 100%;
}

.btn {
    border: 2px solid white;
    border-radius: 25%;
    padding: 1em;
    text-align: center;
    background-color: #ff8686;
}

/*.col {
    text-align: center;
}

#col-style {
    text-align: center;
    padding-right: 15px;
}

.col-md-12 {
    max-width: 100%;
    float: left;
}*/

.main-content{
    Margin-top: 10%;
    background-color: #fafafa;
    width: 200%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    /* margin-right: auto;
    margin-left: auto; */
}

.card {
    margin-top: 25%;
    margin-left: 15%;
}

#form {
    margin-top: 50%;
    margin-left: 15%;
    margin-right: 15%;
}

.btn-primary {
    
}

body.contactBody {
background-image: url(../assets/images/SF.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

/*
.bodyImg {
    background-image: url(../assets/images/SF.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}*/

#bio-image {
    height: 400px;
    width: 400px;
    float: left;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

p {
    font-family: sans-serif;
    font-weight: 400;
    color: #818181;
    font-size: 15px;
    line-height: 26px;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    border-bottom: 1px solid black;
}

.btn-outline-info {
    background-color: #ff8686;
    color: #ff8686;
}

#formContact {
    width: 30%;
    margin: 0;
}

/*
.contactBody {
    margin-top: 200px;
    margin-right: 400px;
    margin-left: 400px;
}
*/

#getIn {
    text-align: right !important;
}

.navbar-toggler-icon {
	background-color: pink;
	color: #000;
}

.navbar-toggler-icon::before, .navbar-toggler-icon::after {
	background-color: green;
	color: orange;
}
div.overlay {
  position: relative;
}
.mask {
	position: absolute;
	top: 0;
	left: 0;
    background-color: rgba(237, 237, 243, .7);
    color: black;
    font-weight: bolder;
    font-family: sans-serif;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
}
.mask:hover {
	opacity: 1;
}
body.contactBody .whiteContainer {
	width: 280px;
	position: relative;
	left: calc(50% - 140px);
	top: 80px;
	margin-left: 0;
	margin-right: 0;
	background-color: #fff;
	/*margin-left: auto;
	margin-right: auto;*/
}
