span.looking {
    font-size: 2.5rem;
    font-family: 'Monoton', cursive;
    color: black;   
    padding-left: 0;
    /*margin-left: 0;*/
    margin-top: 4em;
}

.display {
    letter-spacing: 2px;
    font-size: 45px;
    line-height: 70px;
    padding-left: 0;
}

.navbar-brand {
    margin-left: 0;
}

body, body, header, #view {
    height: 100%;
}

body {  
    background-color: #ffffff;
}

#portfolio {
    margin-left: 30;
    margin-right: 30;
    margin-bottom: 30;
}

.navbar:not(.top-nav-collapse) {
    /*background: transparent;*/
    background-color: white;
    margin-left: 15;
    margin-right: 15;
    height: 45px;
}

body h1, h2, h3, h4 {
    font-family: sans-serif;
}

.main-content {
    margin-top: 50%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 40px;
    padding-bottom: 100px;
    margin-top: 30px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    height: 10px;
}
 
.jumbo {
    width: 50%
}

ul li a {
    list-style-type: none;
  }


.jumbotron {
    height: 50em;
    padding: 15em;
    padding-left: 0;
    background-size: 100% 100%;
    margin-right: 30;
    margin-left: 30;
}

.lead {
    font-size: 2rem;
}

h1 {
    font-family: sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bolder;
    color: black;
}

.text-align-center {
    text-align: left;
}

.img-fluid {
    height: 220px;
    width: 100%
}

.btn {
    border: 2px solid white;
    border-radius: 25%;
    padding: 1em;
    text-align: center;
}

.col {
    text-align: center;
}

#col-style {
    text-align: center;
}

.col-md-12 {
    max-width: 100%;
}

.main-content{
    Margin-top: 10%;
}

.card {
    margin-top: 25%;
    margin-left: 15%;
}

#form {
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
}

.btn-primary {
    margin-left: 15%;
}

#bodyImg {
    background-image: url(../assets/images/SF.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#bio-image {
    height: 300px;
    width: 300px;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

p {
    font-family: sans-serif;
    font-weight: 400;
    color: #818181;
    font-size: 15px;
    line-height: 26px;
}